<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Projects</title>
  </head>
  <body>
    {{> header}}
    <p>Please visit <a href="khaibui.com">khaibui.com</a> for my projects</p>
    {{> footer}}
  </body>
</html>
